
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 200px);
    gap: 20px;

    .card {
        z-index: 2;

            display: flex;

            position: relative;
            height: 200px;
            height: 200px;
            flex-direction: column;




        &-title {
            font-size: 1.2rem;
            line-height: 200%;
            background: rgb(163, 163, 163);
            margin: 0;
            width: 100%;
            text-align: center;
            justify-self: center;
            align-self: center;
            font-weight: bolder;
        }

        &:active .card-title{
            background: transparent;
        }

        &-subtitle {
            padding: 10px;
        }

    }
}
