.video {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50px;
    width: 50%;
}

canvas {
    position: absolute;
    top: 50px;
    z-index: 5;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}